{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field %}
    <div>
        {% if object.color %}
            <div style="background-color: {{ object.color }}; width: 150px; height: 150px;">
            </div>
        {% else %}
            <span>No color</span>
        {% endif %}
    </div>
{% endblock %}
